@import "../assets/fontawesome/scss/fontawesome.scss";
@import "../assets/fontawesome/scss/solid.scss";
@import "../assets/fontawesome/scss/brands.scss";

$fa-font-path: "../assets/fontawesome/webfonts";
$bg-color: #FFFFFF;
$text-grey: #8E8E8E;
$font: 'Montserrat', sans-serif;
$light: 300;
$regular: 400;
$semi-bold: 600;

body {
    font-family: $font;
    color: #000000;
    background: $bg-color;
    background: url('../assets/bg-img-0.jpg');
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font-size: 2.5rem;
    font-weight: $semi-bold;
    text-align: center;
}
h2 {
    font-size: 2.5rem;
    font-weight: $semi-bold;
    text-align: center;
    margin-bottom: 2rem;
}
h3 {
    margin-bottom: 2rem;
}
p {
    font-size: 18px;
    font-weight: $regular;
    text-align: center;

}

.hero-0 {
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
        margin-bottom: 3rem;
    }
    div {
        width: 840px;
        @media screen and (max-width: 992px) {
            width: 100%;
        }
    }
}
.about-me {
    .profile-img {
        overflow: hidden;
        display: block;
        width: 175px; height: 175px;
        border-radius: 50%;
        margin: 0 auto 2rem;
        img {
            width: 100%;
        }
    }
    .about-text {
        display: block;
        margin: 0 auto;
        width: 675px;
        @media screen and (max-width: 992px) {
            width: 100%;
        }
        button {
            text-align: center;
            display: block;
            margin: 4rem auto 0;
            border: none;
            background: #000000;
            color: #FFFFFF;
            font-size: 1rem;
            padding: 0.75rem 1.5rem;
            position: relative;
            border-radius: 6px;
            overflow: hidden;
            &:before {
                content: '';
                position: absolute;
                box-sizing: border-box;
                border: 4px solid #000000;
                background: #FFFFFF;
                top: 0; left: 0;
                height: 100%;
                width: 0;
                transition: all .15s ease-in-out;
            }
            &:hover:before {
                width: 100%;
            }
            &:after {
                display: block;
                position: relative;
                content: 'Lebenslauf herunterladen';
                color: #FFFFFF;
                transition: all .15s ease-in-out;
            }
            &:hover:after {
                color: #000000;
            }
        }
    }
}
.cv-type-col {
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
    grid-template-areas: 'school timeline work';
    min-height: 250px;
    margin-top: 5rem;
    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
        grid-template-areas: 'work' 'school';
        margin-top: 3rem;
    }
    @media screen and (min-width: 768px) {
        .cv-school div {
            &:before {
                right: -61px;
            }
            &:after {
                right: -10px;
            }
        }
    
        .cv-work div {
            &:before {
                left: -59px;
            }
            &:after {
                left: -10px;
            }
        }
    }
    .cv-school, .cv-work {
        span {
            display: block;
            font-size: 1.75rem;
            font-weight: $light;
            padding-bottom: 5rem;
            @media screen and (max-width: 768px) {
                padding: 0rem 0 1rem;
                text-align: center;
            }
        }
        div {
            padding: 1rem;
            background: #E2E2E2;
            color: #000000;
            position: relative;
            margin-bottom: 2rem;
            @media screen and (max-width: 768px) {
                text-align: center !important;
            }
            @media screen and (min-width: 768px) {
                &:after {
                    content: '';
                    position: absolute;
                    display: block;
                    width: 20px; height: 20px;
                    background: #E2E2E2;
                    top: calc(50% - 10px);
                    transform: rotate(45deg);
                }
                &:before {
                    content: '';
                    position: absolute;
                    display: block;
                    width: 20px; height: 20px;
                    background: #FFFFFF;
                    border: 6px solid #000000;
                    border-radius: 50%;
                    top: calc(50% - 10px);  
                    z-index: 1;
                }
            }
        }
    }
    .cv-school {
        grid-area: school;
        .cv-hs { margin-bottom: 23rem; @media screen and (max-width: 768px) { margin-bottom: 2rem; } }
        .cv-js { margin-bottom: 5rem; @media screen and (max-width: 768px) { margin-bottom: 2rem; } }
    }
    .cv-timeline {
        grid-area: timeline;
        text-align: center;
        position: relative;
        span {
            display: inline-block;
            position: relative;
            padding: 0.5rem 1rem;
            z-index: 1;
            background: #000000;
            color: #FFFFFF;
            border-radius: 8px;
        }
        span.cv-start {
            position: absolute;
            margin: 0 auto;
            bottom: 0;
            left: 0; right: 0;
            width: 80%;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            height: 100%;
            width: 2px;
            background: #CBCBCB;
            top: 0; left: 50%;
            z-index: 0;
        }
    }
    .cv-work {
        grid-area: work;
        text-align: right;
        div {
            text-align: left;
        }
    }
}

#skills {
    h3 {
        @media screen and (max-width: 575px) {
            text-align: center;
        }
    }
}

.skill-single {
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: auto;
    grid-template-areas:
        'skill-icon skill-desc'
        'skill-bar skill-bar';
    column-gap: 1rem;
    row-gap: 1rem;
    margin-bottom: 3rem;

    .skill-icon {
        grid-area: skill-icon;
        background: #000000;
        width: 50px;
        height: 50px;
    }
    .skill-desc {
        grid-area: skill-desc;
        font-size: 1.5rem;
        font-weight: $light;
        line-height: 1;
        display: flex;
        align-items: center;
        span {
            font-weight: $semi-bold;
            font-size: 1rem;
        }
    }
    .skill-bar {
        grid-area: skill-bar;
        display: block;
        width: 100%;
        height: 6px;
        background: #FFFFFF;
        border-radius: 3px;
        position: relative;
        overflow: hidden;
        &:after {
            content: '';
            position: absolute;
            left: 0; top: 0;
            width: 75%;
            height: 100%;
            background: #000000;
        }
    }
}

.projects {
    .project-grid {
        display: grid;
        grid-template-columns: 50% 50%;
        row-gap: 3rem;
        column-gap: 2rem;
        @media screen and (max-width: 768px) {
            grid-template-columns: 100%;
        }
        .project-single {
            height: 20rem;
            position: relative;
            box-shadow: 0 0 8px #CBCBCB;
            @media screen and (max-width: 992px) {
                height: 14rem;
            }
            @media screen and (max-width: 768px) {
                height: 20rem;
            }
            @media screen and (max-width: 450px) {
                height: 14rem;
            }
            .project-single-overlay {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                background: #000000;
                color: #FFFFFF;
                left: 0; top: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: all .15s ease-in-out;
                text-align: center;
                @media screen and (max-width: 768px) {
                    opacity: 0.9;
                }
                h4 {
                    margin-bottom: 1rem;
                }
                a {
                   display: inline-block;
                   margin-top: 1rem;
                }
                a::after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0; left: 0;
                    width: 100%;
                    height: 100%;
                }
                &:hover {
                    opacity: 0.9;
                }
            }
        }
        .dorf-aktiv-museum-preview { background: url(../assets/preview-dorf-aktiv-museum.PNG); background-size: cover; background-position-x: 50%; }
        .bp-api-preview { background: url(../assets/preview-bp-api.PNG); background-size: cover; background-position-x: 50%; }
        .schoppegarde-preview { background: url(../assets/preview-schoppegarde.PNG); background-size: cover; background-position-x: 50%; }
        .github-preview {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            box-shadow: none;
            a {
                display: block;
                font-size: 120%;
                padding: 0.5rem 1.5rem;
                margin-top: 2rem;
                color: #000000;
                background: transparent;
                border: 3px solid #000000;
                box-sizing: border-box;
                position: relative;
                z-index: 2;
                transition: all .15s ease-in-out;
                border-radius: 6px;

                &:hover {
                    text-decoration: none;
                    color: #FFFFFF;

                }
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 0%;
                    height: 100%;
                    top: 0; left: 0;
                    background: #000000;
                    z-index: 0;
                    transition: all .15s ease-in-out;

                }
                &:hover:after {
                    z-index: -1;
                    width: 100%;
                }
            }
            img {
                width: 75px;
                margin: 0 auto;
            }
        }
    }
}

.contact-grid {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr;
    grid-template-areas:
        'contact-inc'
        'contact-form';
    column-gap: 3rem;
    row-gap: 2rem;
    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
        grid-template-areas:
        'contact-inc'
        'contact-form';
    }
    .contact-inc {
        grid-area: contact-inc;
        text-align: center;
        max-width: 570px;
        margin: 0 auto;
        @media screen and (max-width: 768px) {
            text-align: justify;
        }
    }
    .contact-details {
        grid-area: contact-details;
    }
    .contact-form {
        grid-area: contact-form;
        display: grid;
        grid-template-areas: 
            'fullname email'
            'subject message'
            'submit submit';
        column-gap: 3rem;
        row-gap: 2rem;
        grid-template-columns: 1fr 1fr;
        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr;
            grid-template-areas:
                'fullname'
                'email'
                'subject'
                'message'
                'submit';
        }
    }
    input, textarea {
        background: #E2E2E2;
        color: #000000;
        border: none;
        padding: 0.75rem 1.5rem;
        border-radius: 6px;
    }
    input {
        width: 100%;
    }
    textarea {
        width: 100%;
        min-height: 20rem;
        max-height: 25rem;
        @media screen and (max-width: 992px) {
            min-height: 12rem;
            max-height: 12rem;
        }

    }
    input[type=submit] {
        grid-area: submit;
        background: #000000;
        color: #FFFFFF;
        transition: all .15s ease-in-out;
        border: 3px solid #000000;
        max-width: 360px;
        margin: 1rem auto 0;
        @media screen and (max-width: 768px) {
            max-width: 100%;
        }
        &:hover {
            background: #FFFFFF;
            color: #000000;
            border: 3px solid #000000;
        }
    }
}

footer.container-fluid {
    padding: 1rem 0;
}
footer > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas: 'copy social impressum';
    text-align: center;
    align-items: center;
    span.footer-social {
        font-size: 200%;
    }
    @media screen and (max-width: 992px) {
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        grid-template-areas: 'copy' 'social' 'impressum';
        span {
            padding: 0.5rem 0;
        }
    }
}

.mobile-hidden {
    @media screen and (max-width: 768px) {
        display: none;
    }
}

/* ######################
    BOOTSTRAP CLASSES
#######################*/

.container-fluid {
    padding-top: 12rem;
    padding-bottom: 12rem;
    @media screen and (max-width: 992px) {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}
.bg-black {
    background: #000000;
    color: #FFFFFF;
}
.navbar-bg {
    background:rgba(255, 255, 255, 0.95);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}
.navbar-nav{
    width: 760px;
    @media screen and (max-width: 992px) {
        width: 100%;
    }
    a {
        text-transform: uppercase;
    }
    a.nav-link {
        margin: auto;
    }
}