<!DOCTYPE html>
<html class="no-js" lang="de">

<head>
    <title>Christoph Machuletz</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap" />
    <link rel="stylesheet" href="/assets/fontawesome/css/all.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav m-auto">
                    <a class="nav-item nav-link active smoothscroll" href="#top-hero">Home <span
                            class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link smoothscroll" href="/#about-me">Über mich</a>
                    <a class="nav-item nav-link smoothscroll" href="/#skills">Skills</a>
                    <a class="nav-item nav-link smoothscroll" href="/#projects">Projekte</a>
                    <a class="nav-item nav-link smoothscroll" href="/#contact">Kontakt</a>
                </div>
            </div>
        </nav>
    </header>

    <main>
        Impressum
    </main>
    <footer class="container-fluid bg-black">
        <div class="container">
            <span>&copy; {{year}}, Christoph Machuletz</span>
            <span class="footer-social">
                <i class="fab fa-xing"></i>
                <i class="fab fa-linkedin"></i>
            </span>
            <span><a href="#">Impressum</a></span>
        </div>
    </footer>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/functions.js"></script>
</body>

</html>