<!DOCTYPE html>
<html class="no-js" lang="de">

<head>
    <title>Christoph Machuletz</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap" />
    <link rel="stylesheet" href="/assets/fontawesome/css/all.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav m-auto">
                    <a class="nav-item nav-link active smoothscroll" href="#top-hero">Home <span
                            class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link smoothscroll" href="#about-me">Über mich</a>
                    <a class="nav-item nav-link smoothscroll" href="#skills">Skills</a>
                    <a class="nav-item nav-link smoothscroll" href="#projects">Projekte</a>
                    <a class="nav-item nav-link smoothscroll" href="#contact">Kontakt</a>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="container-fluid hero-0 section" id="top-hero">
            <div class="container">
                <div class="hero-text">
                    <h1>Darf ich mich vorstellen?</h1>
                    <p>
                        Mein Name ist Christoph Machuletz. Ich bin selbstständiger
                        Webdesigner und Student der Hochschule Fulda im Fachbereich Digitale
                        Medien.
                    </p>
                    <p>
                        Meine Vertiefungsrichtung ist die Webentwicklung auf der Seite des
                        Frontends mit Technologien wie JavaScript und NodeJS sowie die
                        Entwicklung auf dem Backend mit PHP.
                    </p>
                </div>
            </div>
        </div>
        <div class="container-fluid about-me bg-white section" id="about-me">
            <div class="container">
                <div class="profile-img">
                    <img src="assets/profile-img-0.jpg" alt="profile image" />
                </div>
                <div class="about-text">
                    <h2>Über mich</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                        nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                        erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                        et ea rebum. Lorem ipsum dolor sit amet, consetetur sadipscing
                        elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                        magna aliquyam.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                        nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                        erat, sed diam voluptua.
                    </p>
                    <button></button>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-white pt-3">
            <div class="container">
                <h2>Lebenslauf</h2>
                <div class="cv-type-col">
                    <div class="cv-school">
                        <span class="mt-4">Schulbildung</span>
                        <div class="cv-hs">
                            <b>Hochschule Fulda, University of Applied Science</b><br />
                            Studium Digitale Medien / Medieninformatik (B.Sc.)<br />
                            2017 - heute<br /><br />
                            Studium Wirtschaftsinformatik (B.Sc.)<br />
                            2014 - 2017
                        </div>
                        <div class="cv-kzs">
                            <b>Konrad-Zuse-Schule Hünfeld</b><br />
                            Fachhochschulreife - Schwerpunkt Informationstechnik<br />
                            2011 - 2013
                        </div>
                        <div class="cv-js">
                            <b>Jahnschule Hünfeld</b><br />
                            Mittlere Reife<br />
                            2005 - 2011
                        </div>
                    </div>
                    <div class="cv-timeline mobile-hidden">
                        <span class="cv-today">heute</span><span class="cv-start">2005</span>
                    </div>
                    <div class="cv-work">
                        <span>Berufserfahrung</span>
                        <div class="cv-tmc">
                            <b>Technisches Monitoring Center</b><br />
                            Werkstudent, Hessische Zentrale für Datenberarbeitung<br />
                            2018 - heute
                        </div>
                        <div class="cv-cm">
                            <b>Webentwicklung</b><br />
                            ContentManagers Webdesign, 36088 Hünfeld<br />
                            2015 - heute
                        </div>
                        <div class="cv-ww-0">
                            <b>Werbetechnik</b><br />
                            Werkstudent, Weber Werbung, 36132 Eiterfeld<br />
                            2014 - 2018
                        </div>
                        <div class="cv-ww-1">
                            <b>Mediengestaltung Digital und Print</b><br />
                            Jahrespraktikum, Weber Werbung, 36132 Eiterfeld<br />
                            2013 - 2014
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid section" id="skills">
            <div class="container">
                <h2>Skills</h2>
                <h3>Design</h3>

                <div class="row">
                    <div class="skill-single col-sm-6">
                        <div class="skill-icon"></div>
                        <div class="skill-desc">
                            <div><span>Adobe</span><br />Photoshop</div>
                        </div>
                        <div class="skill-bar"></div>
                    </div>

                    <div class="skill-single col-sm-6">
                        <div class="skill-icon"></div>
                        <div class="skill-desc">
                            <div><span>Adobe</span><br />Illustrator</div>
                        </div>
                        <div class="skill-bar"></div>
                    </div>

                    <div class="skill-single col-sm-6">
                        <div class="skill-icon"></div>
                        <div class="skill-desc">
                            <div><span>Adobe</span><br />InDesign</div>
                        </div>
                        <div class="skill-bar"></div>
                    </div>
                    <div class="col-sm-6"></div>

                    <div class="mb-5 w-100 text-center d-inline-block align-center">
                        Weitere: Adobe Premiere Pro
                    </div>
                </div>

                <h3>Web</h3>

                <div class="row">
                    <div class="skill-single col-sm-6">
                        <div class="skill-icon"></div>
                        <div class="skill-desc">
                            <div>HTML5</div>
                        </div>
                        <div class="skill-bar"></div>
                    </div>

                    <div class="skill-single col-sm-6">
                        <div class="skill-icon"></div>
                        <div class="skill-desc">
                            <div>CSS3</div>
                        </div>
                        <div class="skill-bar"></div>
                    </div>

                    <div class="skill-single col-sm-6">
                        <div class="skill-icon"></div>
                        <div class="skill-desc">
                            <div>JavaScript</div>
                        </div>
                        <div class="skill-bar"></div>
                    </div>

                    <div class="skill-single col-sm-6">
                        <div class="skill-icon"></div>
                        <div class="skill-desc">
                            <div>PHP</div>
                        </div>
                        <div class="skill-bar"></div>
                    </div>
                </div>

                <div class="mb-5 w-100 text-center d-inline-block align-center">
                    Weitere: Wordpress, MySQL, NodeJS, Angular, Bootstrap
                </div>

                <h3>Diverses</h3>

                <div class="row">
                    <div class="skill-single col-sm-6">
                        <div class="skill-icon"></div>
                        <div class="skill-desc">
                            <div><span>Microsoft</span><br />Office (Excel, PowerPoint, Word)</div>
                        </div>
                        <div class="skill-bar"></div>
                    </div>

                    <div class="skill-single col-sm-6">
                        <div class="skill-icon"></div>
                        <div class="skill-desc">
                            <div>Linux / UNIX Shell</div>
                        </div>
                        <div class="skill-bar"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-white projects section" id="projects">
            <div class="container">
                <h2>Projekte</h2>
                <div class="project-grid">
                    <div class="project-single bp-api-preview">
                        <div class="project-single-overlay">
                            <div>
                                <h4>API Bachelorprojekt</h4>
                                <span>Rest API<br />erstellt mit: NodeJS und Express<br /><b>2019</b></span><br />
                                <a href="https://api.dmprojekt19.informatik.hs-fulda.de/" target="_blank">api.dmprojekt19.informatik.hs-fulda.de</a>
                            </div>
                        </div>
                    </div>
                    <div class="project-single dorf-aktiv-museum-preview">
                        <div class="project-single-overlay">
                            <div>
                                <h4>Dorf-Aktiv-Museum Wiesenthal</h4>
                                <span>Website<br />erstellt mit: Wordpress<br /><b>2019</b></span><br />
                                <a href="https://www.dorf-aktiv-museum.de" target="_blank">dorf-aktiv-museum.de</a>
                            </div>
                        </div>
                    </div>
                    <div class="project-single schoppegarde-preview">
                        <div class="project-single-overlay">
                            <div>
                                <h4>Schoppegarde Löschenrod</h4>
                                <span>Website<br />erstellt mit: Wordpress<br /><b>2017</b></span><br />
                                <a href="http://www.schoppegarde.de/" target="_blank">schoppegarde.de</a>
                            </div>
                        </div>
                    </div>
                    <div class="project-single github-preview">
                        <div>
                            <img src="./assets/iconmonstr-github.png" alt="GitHub" />
                            <a href="#" target="_blank">Mein GitHub-Account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-white section" id="contact">
            <div class="container">
                <h2>Kontakt</h2>
                <div class="contact-grid">
                    <div class="contact-inc">
                        Falls Sie Kontakt mit mir aufnehmen möchten, können Sie mir gerne
                        über das untenstehende Kontaktformular eine Nachricht hinterlassen.<br /><br />Ich freue mich
                        auf Ihre Anfrage.
                    </div>

                    <form method="POST" class="contact-form" action="">
                        <div>
                            <input type="text" name="fullname" id="contact-fullname" class="w-100" placeholder="Vollständiger Name" />
                        </div>
                        <div>
                            <input type="text" name="email" id="contact-email" class="w-100" placeholder="E-Mail" />
                        </div>
                        <div>
                            <input type="text" name="subject" id="contact-subject" class="w-100" placeholder="Betreff" />
                        </div>
                        <div>
                            <textarea name="message" id="contact-message" class="w-100" placeholder="Ihre Nachricht"></textarea>
                        </div>
                        <div class="dsvgo-disc">
                            <label for="dsvgo"><input type="checkbox" name="dsvgo" id="dsvgo" required> Ich habe die <a href="/datenschutz" target="_blank">Datenschutzerklärung</a> gelesen und stimme dieser zu.</label>
                        </div>
                        <input type="submit" value="Absenden" />
                    </form>
                    {{msg}}
                    {{!-- <div class="submitted"><i class="fas fa-check-circle"></i> Ihre Nachricht wurde gesendet</div> --}}
                </div>
            </div>
        </div>
    </main>
    <footer class="container-fluid bg-black">
        <div class="container">
            <span>&copy; {{year}}, Christoph Machuletz</span>
            <span class="footer-social">
                <a href="https://www.xing.com/profile/Christoph_Machuletz" target="_blank"><i class="fab fa-xing"></i></a>
                <a href="https://www.linkedin.com/in/christoph-machuletz-01b18b187/" target="_blank"><i class="fab fa-linkedin"></i></a>
            </span>
            <span><a href="/impressum">Impressum</a> | <a href="/datenschutz">Datenschutzerklärung</a></span>
        </div>
    </footer>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" integrity="sha256-lPE3wjN2a7ABWHbGz7+MKBJaykyzqCbU96BJWjio86U=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js" integrity="sha256-fIkQKQryItPqpaWZbtwG25Jp2p5ujqo/NwJrfqAB+Qk=" crossorigin="anonymous"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/functions.js"></script>
</body>

</html>